
.homePageContent{
  height: 80vh;
}
.homePageHeading {
  line-height: 103%;
  text-align: center;
}

.get-started-button {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
  padding: 10px 25px;
  border-radius: 15px;
  background-color: #3183ff;
  background-image: linear-gradient(150deg, transparent, #0751bf);
  color: #fff;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}
