@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.homePage img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.parent_app{
    background-image: url('./components/images/home1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
}

.glass-background{
    width:80%;
    margin: 0 auto;
}   
.glass-background2{
    width:90%;
    margin: 0 auto;
}   


